*{
  font-family: sans-serif !important;
}
footer{
  background-color: black;
  color: white;
}
.card{
  border:solid grey 1px;
  padding: 10px;
  box-shadow: 4px 6px 12px grey;
}
.aboutus_img{

  height: 200px;
  width: 300px;
  box-shadow: 4px 6px 12px grey;
}
.nav_cls{
  background-color: black !important;
  color: white !important;
  border-bottom: solid white 2px;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}
.hotel_name{
  color:#28bced;
  font-weight: 800;
}
a{
  color: white !important;
  text-decoration: none;
  transition: .2s;
}
a:hover{
  background-color: red;
  border-radius: 5px;
}
.row-content {
  margin: 0 auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #D1C4E9;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: black;
  color: floralwhite;
}

.address {
  font-size: 90%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #512DA8;
}
